.app-creating-container {
    margin-top: 10%;
}

.app-creating {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.app-creating .header h2 {
    font-family: Arvo, serif;
}

.app-creating .header {
    margin-bottom: 20px;
}

.app-creating .form {
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    margin-bottom: 20px;
}

.app-creating .form .row {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 101px;
}

.app-creating .form .row span {
    text-align: center;
}

.app-creating .form .row input {
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    width: 43px;
    text-align: center;
}

.app-creating .form .row input:focus {
    outline: none;
    color: #CBCBFF;
}

.app-creating .form button {
    background-color: #CBCBFF;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    width: 100%;
}