
.crossword-title-container {
    padding: 10px 10px 5px 10px;
    margin-bottom: 35px;
}

.crossword-title-container .title {
    font-weight: bold;
    font-family: 'Arvo', serif;
    font-size: 42px;
}

.crossword-title-container.editable .title span:hover {
    background-color: #e9e9e9;
}

.crossword-title-container.editable .title span {
    border-bottom: 5px #e9e9e9 dashed;
}

.crossword-title-container .title span {
    border-bottom: 5px #e9e9e9 solid;
}

.crossword-title-container.editable .title input {
    border: 0;
    font-size: 42px;
    font-family: Arvo, serif;
    font-weight: bold;
    outline: none;
    padding: 0;
    color: #2280B7;
}

.crossword-title-container .metadata {
    margin-top: 15px;
    margin-left: 5px;
    cursor: default;
}

.crossword-title-container .metadata .field {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-right: 5px;
}

.crossword-title-container .metadata .value {
    font-family: 'Arvo', serif;
    font-size: 12px;
    font-weight: bold;
}