.crossword-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.crossword-container .crossword-column-small {
    width: 25%;
    min-width: 285px;
    display: inline-block;
}

.crossword-container .crossword-column-big {
    width: 50%;
    display: inline-block;
    min-width: 300px;
}